body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1F2937;
     padding: 0px 500px;
    /* padding: 0px 80px; */
}

.one-header {
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    display: inline;
    padding-left: 16px;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.one-body {
    margin: 100px 0px;
}

.left {
    align-items: start;
    gap: 8px;
}

.right {
    background-color: gray;
    justify-content: center;
    align-items: center;
}


.left,
.right {
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: bold;
}