/* General Classes */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Styling for SECTION ONE */
.one {
    background-color: #1F2937;
    padding: 0px 500px;
}

/* Styling for SECTION ONE HEADER */
.one-header {
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    display: inline;
    padding-left: 16px;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Styling for SECTION ONE BODY */
.one-body {
    margin: 100px 0px;
}

.left {
    align-items: start;
    gap: 8px;
}

.right {
    background-color: gray;
    justify-content: center;
    align-items: center;
}


.left,
.right {
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: bold;
}

/* Styling for SECTION TWO */
.two {
    background-color: white;
}

/* Styling for SECTION TWO HEADER */
.two-header {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

/* Styling for SECTION TWO BODY */

.grimace {
    width: 175px;
    height: auto;
    border-radius: 25px;
}

.info1,
.info2,
.info3,
.info4 {
    align-items: center;
    width: 175px;
    flex: 0 0 175px;
    gap: 16px;
}

.two-body {
    justify-content: center;
    margin: 0 300px 122px 300px;
    gap: 32px;
}

.caption {
    text-align: center;
    font-size: 18px;
}
